<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <img width="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<table border="0" width="400">
    <tr>
        <td>Token:</td>
        <td>
            <input style="width: 100%" type="text" [(ngModel)]="x_access_token" />
        </td>
    </tr>
</table>

<h2>Requests list:</h2>

<ul>
    <li>
        <a (click)="setLogIn()">Autentification (POST /api/v1/users/login)</a>
    </li>
    <li>
        <a (click)="setUserMe()">Get my user (GET /api/v1/users/me)</a>
    </li>
    <li>
        <a (click)="getAllProducts()">Get all products (GET /api/v1/products)</a>
    </li>
    <li>
        <a (click)="getProduct()">Get product (GET /api/v1/products/:id)</a>
    </li>
    <li>
        <a (click)="createProduct()">Create product (POST /api/v1/products)</a>
    </li>
    <li>
        <a (click)="updateProduct()">Update product (PUT /api/v1/products/:id)</a>
    </li>
    <li>
        <a (click)="other()">Other request (OPTIONS /api/v1/*)</a>
    </li>
    <li>
        <a (click)="logOut()">Logout (GET /api/v1/users/logout)</a>
    </li>
</ul>

<h2>Responce:</h2>

<div id="responce-area">{{ responce }}</div>

<router-outlet></router-outlet>
